tei_cei.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns="http://www.tei-c.org/ns/1.0"
 xml:lang="en" n="testms">
 <teiHeader>
  <fileDesc>
   <titleStmt>
    <title>CEI_TEI_P5</title>
    <author>S. Winslow (Researcher, author); G. Vogeler (Principal Investigator, author), et. al.
     (contributors to the CEI)</author>
   </titleStmt>
   <publicationStmt>
    <publisher>TEI Consortium</publisher>
    <availability status="free">
     <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a Creative
      Commons Attribution-ShareAlike 3.0 Unported License </licence>
     <licence target="http://www.opensource.org/licenses/BSD-2-Clause"><p>Copyright 2013 TEI
       Consortium.</p><p>All rights reserved.</p><p>Redistribution and use in source and binary
       forms, with or without modification, are permitted provided that the following conditions are
       met:</p><list>
       <item>Redistributions of source code must retain the above copyright notice, this list of
        conditions and the following disclaimer.</item>
       <item>Redistributions in binary form must reproduce the above copyright notice, this list of
        conditions and the following disclaimer in the documentation and/or other materials provided
        with the distribution.</item>
      </list><p>This software is provided by the copyright holders and contributors "as is" and any
       express or implied warranties, including, but not limited to, the implied warranties of
       merchantability and fitness for a particular purpose are disclaimed. In no event shall the
       copyright holder or contributors be liable for any direct, indirect, incidental, special,
       exemplary, or consequential damages (including, but not limited to, procurement of substitute
       goods or services; loss of use, data, or profits; or business interruption) however caused
       and on any theory of liability, whether in contract, strict liability, or tort (including
       negligence or otherwise) arising in any way out of the use of this software, even if advised
       of the possibility of such damage.</p></licence>
     <p>TEI material can be licensed differently depending on the use you intend to make of it.
      Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is
      generally appropriate for usages which treat TEI content as data or documentation. The BSD-2
      licence is generally appropriate for usage of TEI content in a software environment. For
      further information or clarification, please contact the <ref target="mailto:info@tei-c.org"
       >TEI Consortium</ref>. </p>
    </availability>
   </publicationStmt>
   <notesStmt>
    <note type="ns">http://www.monasterium.net/NS/tei_cei</note>
   </notesStmt>
   <sourceDesc>
    <p>Written from scratch.</p>
   </sourceDesc>
  </fileDesc>
 </teiHeader>
 <text>
  <body>
   <div>
    <p>TEI-P5-based schema aims at helping with the encoding of single sheet legal documents as
     studied in the historial science of diplomatics. It is based upon the experience of the <ref
      target="http://www.cei.lmu.de">Charters Encoding Initiative.</ref>.</p>
    <p>For a start it includes the following modules of the TEI-P5 definition: <list>
      <item>header, linking, core, tei, textstructure: core modules</item>
      <item>namesdates: <list>
        <item>The specialized elements persName and placeName from namesdates are to be preferred
         over name in all instances. For usage, see <ref
          target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ND.html">13. Names, Dates,
          People, and Places</ref> fom the TEI P5 documentation. When selecting which text to
         encapsulate in persName, "person, possibly including one or more of the person's forenames,
         surnames, honorifics, added names, etc.," it is recommended to err on the side of
         inclusivity rather than exclusivity, as there is a significant variation in the
         representation of persons across documents and abstracts.</item>
        <item>As much as possible, tracking of individual persons should be done through references
         to a personography file, where titles and parts of names can be specified. Lists of names
         with parallel elements are not normalized in the text, but in the persography; so, in the
         list "Erzbischöfe Johannes von Edessa (Eddessiensis) und Pontius von Seleucia
         (Seleuciensis)", Pontius von Seleucia (Seleuciensis) would be marked as a persName and the
         title of Archbishop of Seleucia in Isauria would be indicated as a roleName in the
         personography. If the dates of incumbancy are known, they could be indicated through
         attributes of the <ref
          target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/ref-att.datable.html2"
          >att.datable class</ref>.</item>
        <item>Geographic names, when they appear outside of personal names and titles, should be
         indicated by placeName and a reference to a placeography file or the <ref
          target="http://www.geonames.org/">geonames database</ref>; where they appear inside
         personal names and titles, this markup would occur in the personography file. Geographic
         names are marked up even when, as in the case of the Archbishopric of Seleucia in Isauria,
         the geographic element of the roleName is titular. In this case, the type attribute may be
         used to express this, as in <egXML xmlns="http://www.tei-c.org/ns/Examples">
          <roleName type="catholic">
           Archbishop
           <nameLink>of</nameLink>
           <placeName type="see,titular" ref="http://sws.geonames.org/300808/about.rdf,https://www.wikidata.org/wiki/Q1727060">Seleucia in Isauria</placeName>
          </roleName>
         </egXML>.</item>
        <item>A ref atribute with a link to a local typology or to <ref
          target="http://www.geonames.org/">Geonames</ref> is included to disambiguate the location
         (where possible); in the absence of a comprehensive linkable ontology of historic sees and
         other geographic divisions, <ref target="https://www.wikidata.org">Wikidata</ref> may be
         preferable in some cases; in the example, the Geonames reference is to Silifke, modern
         Seleucia, and the Wikidata reference is to entry for the titular see.</item>
       </list>
      </item>
      <item>transcr: </item>
      <item>figures: </item>
      <item>msdescription: <list>
        <item>Documents should, as much as possible, be treated as examples of manuscripts,
         following the advice in <ref
          target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/MS.html">10. Manuscript
          Description</ref>, except in the case of new elements in this specification, such as
         diploDesc and authDesc and modified elements, such as sealDesc.</item>
        <item>In most cases, where single-folio documents are being transcribed, they can be
         foliated using the pb element and an xml:id set to "f1r" before the beginning of the text
         on the recto and "f1v" before the text on the verso. In the case of documents of more than
         one sheet, the foliation element should be used to describe the relationships of
         items.</item>
        <item>The intent of these guidelines is to describe individual documents in the sense of
         discrete charters. Where these charters are collected together in a cartulary or the like,
         each charter should be its own tei document, and the book/collection should be represented
         as a separate tei document which refers to the individual charters as a series of msItem
         elements inside the msContents element, with a link to each individual element. The
         collection container may (and should, preferably), contain msItem descriptions of
         non-diplomatic material that is contained alongside the diplomatic material.</item>
        <item>Where a document previously existed separately, but is now bound in with other
         material, the previously-separate elements should be marked up using msPart. Where a
         previously-unitary document now exists in multiple parts, each individual fragment should
         be marked up using msFrag.</item>
        <item>Where a single document, such as a court case, appears on multiple, interrupted folios
         in the same manuscript, the individual cases, as above, should be represented by msPart
         elements and the collection of discontinuous folios should be organized using the locus and
         locusGrp elements.</item>
       </list></item>
      <item>gaiji: gaiji provides the g element, which is to encode glyphs, and may be used to
       represent various special textual symbols in texts that are considered to be
       important/distinct. This supercedes the (former) use of cei:c, and is to be preferred over
       the TEI c element, except where specific linguistic information is being encoded, as opposed
       to special characters such as medieval textual abbreviations, like p(ro), p(er), o(rum), etc.
       Please see the guidance in <ref
        target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/WD.html">5. Characters, Glyphs,
        and Writing Modes</ref>.</item>
      <item>certainty: Often, it will be the case that there might be multiple possible
       interpretations for the correct identification of a person or a place in the text. In these
       cases, the certainty element, as documented in <ref
        target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/CE.html#CECECE">21.1.2.
        Structured Indications of Uncertainty</ref> should be used, to represent the uncertainty of
       the editor in a way that can be interpreted by a proccesor.</item>
      <item>analysis: </item>
     </list>
    </p>
    <schemaSpec ident="tei_cei" start="TEI teiCorpus" docLang="en">
     <!-- required modules -->
     <moduleRef key="header"/>
     <moduleRef key="linking"/>
     <moduleRef key="core"/>
     <moduleRef key="tei"/>
     <moduleRef key="textstructure"/>
     <!-- optional modules -->
     <moduleRef key="namesdates"/>
     <moduleRef key="transcr"/>
     <moduleRef key="figures"/>
     <moduleRef key="msdescription"/>
     <moduleRef key="gaiji" except=""/>
     <moduleRef key="certainty" except=""/>
     <moduleRef key="analysis" except=""/>
     <elementSpec ident="msDesc" mode="change">
      <content>
       <sequence>
        <elementRef key="msIdentifier"/>
        <classRef key="model.headLike" minOccurs="0" maxOccurs="unbounded"/>
        <alternate>
         <classRef key="model.pLike" minOccurs="1" maxOccurs="unbounded"/>
         <sequence>
          <elementRef key="msContents" minOccurs="0"/>
          <elementRef key="physDesc" minOccurs="0"/>
          <elementRef key="diploDesc" minOccurs="0"/>
          <elementRef key="history" minOccurs="0"/>
          <elementRef key="additional" minOccurs="0"/>
          <alternate>
           <elementRef key="msPart" minOccurs="0" maxOccurs="unbounded"/>
           <elementRef key="msFrag" minOccurs="0" maxOccurs="unbounded"/>
          </alternate>
         </sequence>
        </alternate>
       </sequence>
      </content>
     </elementSpec>
     <elementSpec ident="diploDesc" prefix="cei_"
      mode="add">
      <desc>Contains a diplomatic description and analysis of a document, including bibliographic
       references to studies; formal cricism of content and textual/legal form (physical form is
       physDesc); and discussions of transmission and authenticiy.</desc>
      <classes>
       <memberOf key="model.biblLike"/>
       <memberOf key="att.declaring"/>
       <memberOf key="att.docStatus"/>
       <memberOf key="att.global"/>
       <memberOf key="att.sortable"/>
       <memberOf key="att.typed"/>
      </classes>
      <content>
       <sequence>
        <classRef key="model.pLike" minOccurs="1" maxOccurs="unbounded"/>
        <alternate>
         <classRef key="model.pLike" minOccurs="1" maxOccurs="unbounded"/>
         <sequence>
          <elementRef key="history" minOccurs="0"/>
          <elementRef key="additional" minOccurs="0"/>
         </sequence>
        </alternate>
       </sequence>
      </content>
     </elementSpec>
     <elementSpec ident="authen" prefix="cei_"
      mode="add">
      <desc>Description of an element that is used to authenticate a document. Specifically, elements that would be intended, from a juridical perspective, to be authenticating. 
       May contain a forged element, in which case the forgery should be noted and certainty marked.</desc>
      <classes>
       <memberOf key="att.dateable"/>
       <memberOf key="att.global"/>
       <memberOf key="att.typed"/>
      </classes>
      <content>
       <alternate minOccurs="1"
        maxOccurs="unbounded">
        <classRef key="model.pLike"/>
        <elementRef key="decoNote"/>
       </alternate>
      </content>
      <attList>
       <attDef ident="type" mode="replace">
        <valList type="closed">
         <valItem ident="printing">
          <desc>Security Printing.</desc>
         </valItem>
         <valItem ident="layout">
          <desc>Distinctive elements of layout which authenticate document.</desc>
         </valItem>
         <valItem ident="formula">
          <desc>Distinctive textual formulae that authenticate document.</desc>
         </valItem>
         <valItem ident="split">
          <desc>Shared-medium documents and items that have been separated in a distinct and reconstructable way.</desc>
         </valItem>
         <valItem ident="digital">
          <desc>Purely-digital authenticating elements. Anything that is a digital copy of a physical element is not this type.</desc>
         </valItem>
         <valItem ident="notarized">
          <desc>Notarization as a legal act with varying regional practices, which may include stamping, embossing, attached materials, signatures, or attestations. 
           Apostilles are considered a type of notarization for this category.
          </desc>
         </valItem>
         <valItem ident="nonattached">
          <desc>
           Any authenticating element which is not now and was never attached to the document. Registration, certification, duplicates in archives.
          </desc>
         </valItem>
         <valItem ident="biometrics">
          <desc>
           Biometric info used to establish authentic identity of the document owner/maker/issuer.
          </desc>
         </valItem>
         <valItem ident="token">
          <desc>
           External tokens used to establish the authenticity or authority of the sender or issuer.
          </desc>
         </valItem>
         <valItem ident="signed">
          <desc>
           Any kind of signature, subscription, or signing mark.
          </desc>
         </valItem>
         <valItem ident="mark">
          <desc>
           Any kind of non-signging mark, such as a hallmark or a trademark.
          </desc>
         </valItem>
         <valItem ident="stamp">
          <desc>
           Both inked and adhesive stamps.
          </desc>
         </valItem>
         <valItem ident="split">
          <desc>
           Any item where a shared medium has been split in a way that can be recombined to demonstrate authenticity. 
           Chirographs, tallies, indentures.
          </desc>
         </valItem>
         <valItem ident="endorsement">
          <desc>
           Writing on the document by someone is a position of authority, establishing its authenticity or authroity.
          </desc>
         </valItem>
         <valItem ident="medium">
          <desc>
           Special or controlled materials used to establish authenticity and convey authority. Banknote paper, magnetic stripes, RFID chips.
          </desc>
         </valItem>
         <valItem ident="packaging">
          <desc>
           Elements of packaging which correspond to authenticity or establish that it has not been tampered with from some authoritative time frame.
          </desc>
         </valItem>
        </valList>
       </attDef>
      </attList>
     </elementSpec>
     <elementSpec module="msdescription" ident="sealDesc" mode="change">
      <altIdent>authDesc</altIdent>
     </elementSpec>
     <elementSpec  ident="legalActor" prefix="cei_" mode="add">
      <desc>
       Persons or organizations party to or otherwise mentioned in a an act or contract.
      </desc>
      <classes>
       <memberOf key="att.global"/>
       <memberOf key="att.typed"/>
      </classes>
      <content>
        <macroRef key="model.nameLike"/>
      </content>
      <attList>
       <attDef ident="type" mode="replace">
        <valList type="closed">
         <valItem ident="issuer">
          <desc>
           <ref target="http://www.cei.lmu.de/VID/VID.php?16">VID 16</ref>. 
           The party whose authority issues the document.
           A lord or judge issueing a ruling is the issuer.
          </desc>
         </valItem>
         <valItem ident="recipient">
          <desc>
           <ref target="http://www.cei.lmu.de/VID/VID.php?17">VID 17</ref>. 
           The party to whom the act of the document is addressed.</desc>
         </valItem>
         <valItem ident="beneficiary">
          <desc>
           <ref target="http://www.cei.lmu.de/VID/VID.php?17">VID 17</ref>. 
           In some cases, the party to whom the act of the document is addressed is not the party whose benefit is intended, in which case the latter should be marked as the beneficiary.</desc>
         </valItem>
         <valItem ident="witness">
          <desc>
           <ref target="http://www.cei.lmu.de/VID/VID.php?263">VID 263</ref>. 
           Someone who stands as a legal witness of the act, generally through subscription.
           When something is done in the presence of a judge, the judge is marked as a witness.
          </desc>
         </valItem>
         <valItem ident="notary">
          <desc>
           <ref target="http://www.cei.lmu.de/VID/VID.php?273">VID 273</ref>.
           Someone who is a professional redactor of acts, with a legal authority in their preparation. 
           May be the same person as, but separate conceptually from the scribe, who does not bear a legal role in the act.</desc>
         </valItem>
         <valItem ident="promisor">
          <desc>
           The party of a contract who makes a promise.
           All kinds of promisors are meant, which may include lessors/lessees, contractors, debtors, etc.
          </desc>
         </valItem>
         <valItem ident="promisee">
          <desc>
           The party of a contract who is on the receiving end a promise.
           May also be a promisor where there is a mutual trade. 
          </desc>
         </valItem>
         <valItem ident="intervenor">
          <desc>
           cf. <ref target="http://www.cei.lmu.de/VID/VID.php?66">VID 66</ref>. 
           A party who joins a legal process by the authority of the judicial system, who is not (originally) party to the contract.
           May be used for legal intervenors, advocates, procurators, accusers (where said are not recipients or beneficiaries), petitioners/sponsors who are not recipients or beneficiaries of the resulting act, judges (where they are not acting as issuers or witnesses), guarantors, etc.
          </desc>
         </valItem>
         <valItem ident="sigillant">
          <desc>
           <ref target="http://www.cei.lmu.de/VID/VID.php?503">VID 503</ref>. 
           The owner of a seal.</desc>
         </valItem>
         <valItem ident="third">
          <desc>
           A third-party is anyone who is not a party to a contract or act but might be affected or involved.
          </desc>
         </valItem>
       </valList>
       </attDef>
      </attList>
     </elementSpec>
     <elementSpec ident="diploPart" prefix="cei_"
      mode="add">
      <desc>
       An element identifying the various conventional elements of documentary instruments. This refers to the intellectual content of the text; generic solutions should be used if the needs of an individual project require devisions on set phrases or other segments of text.
       The list contains and may be extended with clauses which overlap in their meanings, to meet the specific legal context of the act. 
       Using the existing categories, where possible, increases the cross-comparative functionality of the total corpus, and is encouraged.
      </desc>
      <classes>
       <memberOf key="att.global"/>
       <memberOf key="att.typed"/>
      </classes>
      <content>
       <classRef key="model.phrase"/>
      </content>
      <attList>
       <attDef ident="type" mode="replace">
        <valList type="closed">
         <valItem ident="protocol">
          <desc>
           The opening protocol contains formulaic information invoking divine aid, naming the issuer and addressee, conveying greetings. 
           Generally a superset of the invocatio, intitulatio, inscriptio, and salutatio.
          </desc>
         </valItem>
         <valItem ident="contextus">
          <desc>
           Also called corpus. The main content relating to the particulars of the act. 
           Generally a superset of the arenga, publicatio, narratio, dispositio, clausulae, and sanctio.
          </desc>
         </valItem>
         <valItem ident="eschatocol">
          <desc>
           The closing protocol includes formulaic information relating to completion of the document. Generally a superset of the subscriptio, corroboratio, datatio, and appreciatio.</desc>
         </valItem>
         <valItem ident="apprecatio">
          <desc>
           <ref target="http://www.cei.lmu.de/VID/VID.php?251">VID 251</ref>.
           A solemn ending clause, indicating the achievement of the act, such as 'Fiat. Fiat. Amen.'
          </desc>
         </valItem>
         <valItem ident="arenga">
          <desc>
           <ref target="http://www.cei.lmu.de/VID/VID.php?196">VID 196</ref>.
           Sometimes called the exordium, preamble, or proem, the arenga is a 'rhetorical preparation for the burden of communication' (Boyle, 97.) which may be particular to the document or wholly formulaic, unlinked in content to the actual act.
          </desc>
         </valItem>
         <valItem ident="benedictio">
          <desc>
           <ref target="http://www.cei.lmu.de/VID/VID.php?245">VID 245</ref>.
           The benediction clause contains a blessing.
          </desc>
         </valItem>
         <valItem ident="clausulae">
          <desc>
           Clause of qualifiers, exceptions, prohibitions, and obligations relating to the act.
          </desc>
         </valItem>
         <valItem ident="corroboratio">
          <desc>
           <ref target="http://www.cei.lmu.de/VID/VID.php?246">VID 246</ref>.
           Also known as the ratification clause, the clause of corroboration connects the words of the charter to the effective elements of its validity, whether signature, seal, or promulgation.
          </desc>
         </valItem>
         <valItem ident="datatio">
          <desc>
           <ref target="http://www.cei.lmu.de/VID/VID.php?561">VID 561</ref>.
           The dating clause gives the date of the issuance of the charter, by any dating system.
          </desc>
         </valItem>
         <valItem ident="dispositio">
          <desc>
           <ref target="http://www.cei.lmu.de/VID/VID.php?198">VID 198</ref>.
           Also known as the conveyance clause, the dispositive clause is the essential or effective clause of the charter, which describes the property or honor to be conveyed, its burndens, conditions, and limitations, and conveys the same.
          </desc>
         </valItem>
         <valItem ident="inscriptio">
          <desc>
           <ref target="http://www.cei.lmu.de/VID/VID.php?192">VID 192</ref>.
           Also known as the address, the part of the document that gives the name, titles, and addresses the qualities of the addressee or recipient of the act.
          </desc>
         </valItem>
         <valItem ident="intitulatio">
          <desc>
           <ref target="http://www.cei.lmu.de/VID/VID.php?187">VID 187</ref>.
           Also known as the superscriptio or the persona salutans, the part of the document which gives the namme of the issuer and his/her titles.
          </desc>
         </valItem>
         <valItem ident="invocatio">
          <desc>
           <ref target="http://www.cei.lmu.de/VID/VID.php?185">VID 185.</ref>.
           A clause calling upon God or a saint, for divine protection or witness.
          </desc>
         </valItem>
         <valItem ident="narratio">
          <desc>
           <ref target="http://www.cei.lmu.de/VID/VID.php?197">VID 197</ref>.
           The narration clause states the case of gives the circumstances or context leading up to the issuance of the act.
          </desc>
         </valItem>
         <valItem ident="notificatio">
          <desc>
           <ref target="http://www.cei.lmu.de/VID/VID.php?196">VID 196</ref>.
           The pulbication, promulgation, or notfication clause addresses itself to all those concerned in the act, as parties or readers.
          </desc>
         </valItem>
         <valItem ident="publicatio">
          <desc>
           <ref target="http://www.cei.lmu.de/VID/VID.php?196">VID 196</ref>.
           See notificatio.</desc>
         </valItem>
         <valItem ident="salutatio">
          <desc>
           <ref target="http://www.cei.lmu.de/VID/VID.php?194">VID 194</ref>.
           A clause expressing greetings, usually at the beginning of the document. 
           A subtype of this is the salutatio finale or final salutation (VID 253), which comes at the end of the document.
          </desc>
         </valItem>
         <valItem ident="sanctio">
          <desc>
           <ref target="http://www.cei.lmu.de/VID/VID.php?237">VID 237</ref>.
           Also known as a penal clause. Defines penalties for breach of act.
          </desc>
         </valItem>
         <valItem ident="subscriptio">
          <desc>
           <ref target="http://www.cei.lmu.de/VID/VID.php?254">VID 254</ref>.
           Part of the act containing the signatures of the principals, witnesses, officials, and notaries involved.</desc>
         </valItem>
        </valList>
       </attDef>
      </attList>
     </elementSpec>
     <elementSpec module="msdescription" ident="additions" mode="change">
      <desc>
       Contains a description of any significant additions found within a manuscript, such as marginalia or other annotations. 
       See definition in <ref
        target="http://www.cei.lmu.de/VID/VID.php?180">VID 180</ref> and TEI documentation <ref
        target="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/MS.html#msph2">10.7.2 Writing, Decoration, and Other Notations</ref>.
      </desc>
      <classes mode="replace">
       <memberOf key="model.physDescPart"/>
       <memberOf key="att.global"/>
       <memberOf key="att.typed" mode="add"/>
      </classes>
      <attList>
       <attDef ident="type" mode="add">
        <datatype>
         <dataRef key="teidata.text"/>
        </datatype>
        <valList type="closed">
         <valItem ident="chancellery">
          <desc>Notes made in the context of the original production of the document, whether or not that was a chancellery per se.</desc>
         </valItem>
         <valItem ident="ownership">
          <desc>Notes made as part of ownership, sale, or archiving. Ownership notes, summaries on the dorse, etc.</desc>
         </valItem>
         <valItem ident="reader">
          <desc>Notes made by end-users for whatever purpose. Pen-trials, notes on content, instructions on use, etc.</desc>
         </valItem>
        </valList>
       </attDef>
      </attList>
     </elementSpec>
     <elementSpec  ident="copyStatus" prefix="cei_" mode="add">
      <desc>
       The status of the document as an original or a copy. 
       Equivalent to the former CEI traditioForm. 
       Can occur multiple times in different msItems, to represent, for example, a copy of a document which is in an original of a promulgation of the first document.
      </desc>
      <classes>
       <memberOf key="att.global"/>
       <memberOf key="att.typed"/>
      </classes>
      <content>
       <macroRef key="model.phrase"/>
      </content>
      <attList>
       <attDef ident="type" mode="replace">
        <valList type="closed">
         <valItem ident="original">
          <desc>
           <ref target="http://www.cei.lmu.de/VID/VID.php?42">VID 42</ref>. 
           An original copy is one that carries the first definitive form that would have force of the contained act.
          </desc>
         </valItem>
         <valItem ident="copy">
          <desc>
           <ref target="http://www.cei.lmu.de/VID/VID.php?53">VID 53</ref>. 
           cf. VID 54–63, 65, 67–69, 74.
           A copy of a document is a reproduction of the original.
          </desc>
         </valItem>
         <valItem ident="draft">
          <desc>
           <ref target="http://www.cei.lmu.de/VID/VID.php?349">VID 349</ref>. 
           A draft is any version of the document before the first definitive form that has force of the contained act.
          </desc>
         </valItem>
         <valItem ident="unknown">
          <desc>
           When no definitive classification of the document can be made into one of the other three categories.
           Differs from simply leaving the type off by making a statement that the subject was inspected and determined to be unknown, rather than not having been inspected at all.
          </desc>
         </valItem>
        </valList>
       </attDef>
      </attList>
     </elementSpec>
    </schemaSpec>
   </div>
  </body>
 </text>
</TEI>
